[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=fredan
Group=fredan
WorkingDirectory=/home/fredan/app/src/
Environment="PATH=/home/fredan/app/venv/bin"
EnvironmentFile=/home/fredan/.env
ExecStart=/home/fredan/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
